<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Admin" value="https://tn-rest-admin-production.cloudapp.net"/>
    <add key="API" value="https://tn-rest-production.cloudapp.net/api/v1.0"/>
    <add key="Key" value=""/>
    <add key="Secret" value=""/>
    <add key="CurrentSchoolYear" value="2015"/>

    <add key="SchoolId" value="100002" />
    <add key="GradeLevelDescriptor" value="10" />
    <add key="ProgramAssignmentDescriptor" value="03"/>
  </appSettings>
</configuration>